
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-dark-color: #189788;
    --main-light-color: #26D8C4;
    --background-color: linear-gradient(160deg, rgba(240, 242, 245, 1) 0%,
      rgba(209, 223, 255, 1) 51%,
      rgba(213, 225, 255, 1) 100%);
    --card-color: rgb(255, 255, 255);
    --light-dark-font-color: rgb(51, 51, 51);
    --grey-color: grey;
    --logo-color:rgb(0, 145, 255);
}

[data-theme="dark"] {
  --background-color: linear-gradient(160deg,rgba(23, 46, 84, 1) 0%,
    rgba(17, 26, 49, 1) 31%,
    rgba(15, 23, 42, 1) 100%);
    --card-color: rgb(35, 35, 35);
    --light-dark-font-color: rgb(204, 204, 204);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
  transition: background-image 1s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  background: transparent;
  border: 3px solid var(--main-light-color);
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-family: sans-serif;
  font-size: 16px;
  color: var(--main-dark-color);
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px var(--main-dark-color);
  box-shadow: 0 0 20px rgba(12, 176, 235, 0.5);
}

.loader .inner {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 1.3s linear infinite;
}

.loader .inner:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--main-light-color);
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px var(--main-light-color);
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

@layer utilities {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #b3b3b3 transparent;
  }

  .scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 5px solid #b3b3b3;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #bbbbbb;
  }

  .scrollbar-lg {
    scrollbar-width: thin;
    scrollbar-color: #b3b3b3 transparent;
  }

  .scrollbar-lg::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-lg::-webkit-scrollbar-thumb {
    border-radius: 9px;
    border: 9px solid transparent;
  }

  .scrollbar-lg::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .scrollbar-lg::-webkit-scrollbar-thumb:hover {
    background-color: #bbbbbb;
  }
}

